
# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
*.h5ad
project_folder

data
data/
*/data/*

resources
*/resources/*
resources/

results
*/results/*
results/

test
*/test/*
test/

logs
*/logs/*
logs/

metadata
*/metadata/*
metadata/

*/jupyter.log
.*
!/.gitignore

__pycache__
*/__pycache__/*

._.gitignoredata
resources
results
data

.test/results/
.test/report.html

snakejob_conductor.sh
